body
{
	background: #111111 url("../images/black-checkered.jpg") repeat right top;
}

.content-wrapper
{
	background-color: rgba(255, 255, 255, 0.85);
	padding: 25px;
	border-radius: 5px;
	min-height: 600px;
}

.navbar
{
	border-radius: 0!important;
	border: 0!important;
	margin-bottom: 50px!important;
}

.navbar-nav a
{
    line-height: 150px!important;
    height: 150px!important;
    padding-top: 0!important;
}

.custom-brand
{
	background: #000000 url("../images/bloop.jpg") no-repeat right top;
	margin-right: 10px;
	color: white;
	height: 150px;
	width: 125px;
	line-height: 150px;
	text-align: center;
	font-weight: 500;
	font-size: 16pt;
}

.custom-brand:hover::after
{
	content: "BLOOP";
}

.nav-tabs
{
	border-bottom: 1px solid #B0B0B0!important;
}

.tab-content div
{
	padding: 25px;
}

.default_hide
{
	display: none;
}

.page_title
{
	color: white;
	font-size: 16pt;
	font-weight: 500;
}