.server_chat
{
  
}

.server_log
{
  
}

.logchat
{
  font-family: "Lucida Console", Monaco, monospace;
  overflow-y: auto;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
}

.logline
{
  min-height: 25px;
  line-height: 25px;
  width: 100%;
}

.chatline
{
  min-height: 25px;
  line-height: 25px;
  width: 100%;
}

.chatname
{
  font-weight: 500;
}

.tab-pane
{
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.player_list
{
  display: none;
  height: 200px;
  overflow-y: scroll;
}